.balls{  
	background: grey;
	border-radius: 100%;
	box-shadow: inset 0 0 80px white;
	width: 150px;
	height: 150px;
}
.freeball {
  background: green;
  border-radius: 100%;
  box-shadow: inset 0 0 130px yellow;
  width: 150px;
  height: 150px;
}
.balls2{  
	background: #550055;
	border-radius: 100%;
	box-shadow: inset 0 0 80px aliceblue;
	width: 150px;
	height: 150px;
}