doctype html
html
  head
    title Bingo Game!!!
    // <meta http-equiv="refresh" content="2" >
    link(rel='stylesheet', href='public/capstone/css/table.css')
    link(rel='stylesheet', href='public/capstone/css/ballsOnTable.css')
    link(rel='stylesheet', href='public/capstone/css/movingBall.css')
    script(type='text/javascript', src='public/capstone/js/bingo.js')
    script(type='text/javascript', src='public/capstone/js/getBall.js')
  body(onload='putNumber(#{board});getNum(15);', background='background.jpg')
    // <div class="circle" style="z-index: 10;"><div id="mb"></div></div>
    audio(autoplay='')
      source(src='http://www.mikefromchurch.com/ringtones/RINGTONES-wav/Treo%20-Arabesque.wav', type='audio/wav')
    table.table1(border='10')
      tbody
        tr
          td
            .balls
              #square0
              span.eight
          td
            .balls
              #square1
          td
            .balls
              #square2
          td
            .balls
              #square3
          td
            .balls
              #square4
        tr
          td
            .balls
              #square5
              span.eight
          td
            .balls
              #square6
          td
            .balls
              #square7
          td
            .balls
              #square8
          td
            .balls
              #square9
        tr
          td
            .balls
              #square10
              span.eight
          td
            .balls
              #square11
          td
            .freeball
              #square12
          td
            .balls
              #square13
          td
            .balls
              #square14
        tr
          td
            .balls
              #square15
              span.eight
          td
            .balls
              #square16
          td
            .balls
              #square17
          td
            .balls
              #square18
          td
            .balls
              #square19
        tr
          td
            .balls
              #square20
              span.eight
          td
            .balls
              #square21
          td
            .balls
              #square22
          td
            .balls
              #square23
          td
            .balls
              #square24
    table.table2(border='10')
      tbody
        tr
          td
            .balls2
              #num1
          td
            .balls2
              #num2
          td
            .balls2
              #num3
          td
            .balls2
              #num4
          td
            .balls2
              #num5
        tr
          td
            .balls2
              #num6
          td
            .balls2
              #num7
          td
            .balls2
              #num8
          td
            .balls2
              #num9
          td
            .balls2
              #num10