doctype html
title Quint-Blockchain
meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1')
link(rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css')
link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato')
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
style.
	body {font-family: "Lato", sans-serif}
	.mySlides {display: none}
script(src='login.js')
.w3-top
	.w3-bar.w3-black.w3-card
		h1 Quint-Blockchain
		a.w3-bar-item.w3-button.w3-padding-large(href='http://35.199.5.180') HOME
		if !logined
			form.w3-padding-large.w3-hide-small.w3-right(action='http://35.199.5.180/login' method='POST')
				input(type='text' name='uid')
				input(type='submit' value='Login')
		else
			form.w3-padding-large.w3-hide-small.w3-right(action='http://35.199.5.180/logout' method='POST')
				p #{uid}
				input(type='submit' value='Login Out')
.w3-content(style='max-width:2000px;margin-top:200px')
	if logined
		p Welcome to blockchain bingo game! This game requires 2 players to play the game. In this bingo game each player will have a board containing 24 numbers and a free ball in the middle(free ball can be any number). Bingo balls will be generated automatically every 5 seconds. If you think you have bingo, click the Bingo button at the right-bottom corner to win the game. The first player to get bingo will the game. If you click bingo button without actually having bingo, you will also lose the game. So be careful and have fun!
		form(action='http://35.199.5.180/logingame' method='POST')
			input(type='text' name='seed' placeholder='Enter Your Lucky String')
			input(type='submit' value='Login in to Bingo Game')
	else
		p Please login first to play the game.